<!DOCTYPE html>
<html lang="en">
<head>
<title>首页</title>
<meta name="description" content="城墙春联贺岁" />
<meta name="Keywords" content="=涛略集团,贺岁,南京,城墙,红包,拜年" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit" />
<meta name="viewport" content="width=750,maximum-scale=1.5,target-densitydpi=320,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<script>
    (function (doc, win) {
        var doc = document;
        var win = window;
        var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';
        var recalc = function() {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                var fZ = 100 * (clientWidth / 750);
                if (fZ >= 100) {
                    docEl.style.fontSize = 100 + 'px';
                } else if (fZ <= 42) {
                    docEl.style.fontSize = 42 + 'px';
                } else {
                    docEl.style.fontSize = fZ + 'px';
                }
            };
        recalc();

        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>

<link href='//local.vue-demo.com/css/index.css?t=14863701' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="main"></div>
<div id="app"> {{ message }}</div>

<script src='//local.vue-demo.com/js/core.js?t=14863701'></script><script src='//local.vue-demo.com/js/index.js?t=14863701'></script>
</body>
</html>
